<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django CRUD - Users</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'index.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class="container">
    <div class="input-container">
      <h1>Users</h1>
  
      <form class="create-form" action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="name">
        <button type="submit">Create</button>
      </form>
    </div>

    <ul class="users-list">
      {% for user in users %}
        <li> {{ user.id }} - {{ user.name }}
          <div>
            <a href="{% url 'updateDetails' user.id %}">Update</a>
            <a href="{% url 'delete' user.id %}">Delete</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
